### Regresssion for Expected Salary

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [12]:
data = pd.read_csv('data/Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [13]:
## preprocess the data
# drop irrelevant columns
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [14]:
# encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [15]:
# One hot encode the 'Geography' column
oneHotEncoder_geo = OneHotEncoder()
geo_encoder = oneHotEncoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [16]:
oneHotEncoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [17]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns=oneHotEncoder_geo.get_feature_names_out(['Geography'])) 
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [18]:
# combine the encoded geography with the original data
data = pd.concat([data, geo_encoded_df], axis=1)
# drop the original 'Geography' column
data.drop(['Geography'], axis=1, inplace=True)

data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [19]:
X = data.drop(['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']

# split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
# scale the features
# look up StandardScaler in sklearn
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [21]:
# save encoders and scaler
with open('label_encoder_gender_regression.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)

with open('onehot_encoder_geo_regression.pkl', 'wb') as f:
    pickle.dump(oneHotEncoder_geo, f)

# saving scaler as pickle file
with open('scaler_regression.pkl', 'wb') as f:
    pickle.dump(scaler, f)

### ANN Regression Model implementation

In [22]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [23]:
regression_model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1], )), # HIDDENLAYER1
    Dense(32, activation='relu'), #HIDDENLAYER2
    Dense(1) #output layer, # default activation function is linear
])

c:\Users\deepjroy\Desktop\Code\nlp-tutorial\env\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [24]:
regression_model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae']) # the loss function changes for regression

In [25]:
regression_model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [29]:
# set up tensorboard logging
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
from datetime import datetime 

log_dir = "regressionlogs/fit/" + datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [30]:
# setup early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True) # wait till 5 epochs without improvement
# consider the best weights in between the epochs

In [32]:
# training the model
history = regression_model.fit(
    X_train, 
    y_train, 
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100385.2734 - mae: 100385.2734 - val_loss: 98546.1953 - val_mae: 98546.1953
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 99741.1172 - mae: 99741.1172 - val_loss: 97243.2500 - val_mae: 97243.2500
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97475.0312 - mae: 97475.0312 - val_loss: 93905.9297 - val_mae: 93905.9297
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 92964.3594 - mae: 92964.3594 - val_loss: 88226.2109 - val_mae: 88226.2109
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 86239.6719 - mae: 86239.6719 - val_loss: 80682.4922 - val_mae: 80682.4922
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 78020.6641 - mae: 78020.6641 - val_loss: 72391.0547 - val_mae: 72391.0547
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 69582.6172 - mae: 69582.6172 - val_loss: 64627.5781 - val_mae: 64627.5781
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 62129.0000 - mae: 62129.0000 - val_loss: 58427.2031 - val_mae: 58427.2031
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 56692.7578 - mae: 56692.7578 - val_loss: 54316.2422 - val_mae: 54316.2422
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 53329.5938 - mae: 53329.5938 - val_loss: 52116.5312 - val_mae: 52116.5312
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51595.9141 - mae: 51595.9141 - val_loss: 51248.7852 - val_mae: 51248.7852
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50803.1250 - mae: 50803.1250 - val_loss: 50875.0039 - val_mae: 50875.0039
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50480.7227 - mae: 50480.7227 - val_loss: 50750.4727 - val_mae: 50750.4727
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50318.5156 - mae: 50318.5156 - val_loss: 50693.1328 - val_mae: 50693.1328
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50217.5859 - mae: 50217.5859 - val_loss: 50635.0195 - val_mae: 50635.0195
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50149.6367 - mae: 50149.6367 - val_loss: 50596.0898 - val_mae: 50596.0898
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50092.0430 - mae: 50092.0430 - val_loss: 50552.5859 - val_mae: 50552.5859
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50043.9141 - mae: 50043.9141 - val_loss: 50525.2031 - val_mae: 50525.2031
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50000.2617 - mae: 50000.2617 - val_loss: 50494.8555 - val_mae: 50494.8555
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49960.3633 - mae: 49960.3633 - val_loss: 50467.4297 - val_mae: 50467.4297
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49930.8477 - mae: 49930.8477 - val_loss: 50455.8477 - val_mae: 50455.8477
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49894.2148 - mae: 49894.2148 - val_loss: 50438.0078 - val_mae: 50438.0078
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49869.9062 - mae: 49869.9062 - val_loss: 50415.9023 - val_mae: 50415.9023
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49842.7422 - mae: 49842.7422 - val_loss: 50403.6016 - val_mae: 50403.6016
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49819.7461 - mae: 49819.7461 - val_loss: 50397.4336 - val_mae: 50397.4336
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49797.7344 - mae: 49797.7344 - val_loss: 50379.6641 - val_mae: 50379.6641
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49774.0625 - mae: 49774.0625 - val_loss: 50373.9492 - val_mae: 50373.9492
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49759.5195 - mae: 49759.5195 - val_loss: 50359.2461 - val_mae: 50359.2461
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49737.5938 - mae: 49737.5938 - val_loss: 50342.6562 - val_mae: 50342.6562
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49721.0898 - mae: 49721.0898 - val_loss: 50338.1328 - val_mae: 50338.1328
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49705.4297 - mae: 49705.4297 - val_loss: 50325.2891 - val_mae: 50325.2891
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49690.0430 - mae: 49690.0430 - val_loss: 50321.7773 - val_mae: 50321.7773
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49674.8242 - mae: 49674.8242 - val_loss: 50318.6016 - val_mae: 50318.6016
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49659.6562 - mae: 49659.6562 - val_loss: 50311.4961 - val_mae: 50311.4961
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49648.8711 - mae: 49648.8711 - val_loss: 50305.7578 - val_mae: 50305.7578
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49633.3359 - mae: 49633.3359 - val_loss: 50296.8438 - val_mae: 50296.8438
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49624.0898 - mae: 49624.0898 - val_loss: 50289.1289 - val_mae: 50289.1289
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49613.7852 - mae: 49613.7852 - val_loss: 50289.4023 - val_mae: 50289.4023
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49600.0391 - mae: 49600.0391 - val_loss: 50282.7109 - val_mae: 50282.7109
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49592.0352 - mae: 49592.0352 - val_loss: 50280.6523 - val_mae: 50280.6523
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49580.9805 - mae: 49580.9805 - val_loss: 50272.7305 - val_mae: 50272.7305
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49574.0430 - mae: 49574.0430 - val_loss: 50270.3633 - val_mae: 50270.3633
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49562.2617 - mae: 49562.2617 - val_loss: 50287.5508 - val_mae: 50287.5508
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49553.0078 - mae: 49553.0078 - val_loss: 50291.0156 - val_mae: 50291.0156
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49545.1992 - mae: 49545.1992 - val_loss: 50272.4219 - val_mae: 50272.4219
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49540.4727 - mae: 49540.4727 - val_loss: 50283.2109 - val_mae: 50283.2109
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49530.0625 - mae: 49530.0625 - val_loss: 50282.6758 - val_mae: 50282.6758
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49524.9922 - mae: 49524.9922 - val_loss: 50285.0547 - val_mae: 50285.0547
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49516.5469 - mae: 49516.5469 - val_loss: 50271.1953 - val_mae: 50271.1953
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49506.7812 - mae: 49506.7812 - val_loss: 50276.7734 - val_mae: 50276.7734
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49499.3398 - mae: 49499.3398 - val_loss: 50276.9062 - val_mae: 50276.9062
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49493.6953 - mae: 49493.6953 - val_loss: 50279.7188 - val_mae: 50279.7188

In [33]:
%load_ext tensorboard

In [37]:
%tensorboard --logdir regressionlogs/fit --host localhost --port 6006

In [38]:
# Evaluate the model
test_loss, test_mae = regression_model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")
print(f"Test Loss : {test_loss}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50270.3633 - mae: 50270.3633
Test MAE: 50270.36328125
Test Loss : 50270.36328125

In [39]:
# save the model
regression_model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.